@model IEnumerable<Candidaturas_BO.Models.ConhecimentoEscola>

@{
    ViewBag.Title = "Conhecimentos de Escola";
}

<h2>Lista de Conhecimentos de Escola</h2>

<p class="BoParag">
    @Html.ActionLink("Criar Novo Conhecimento de Escola", "Create") | @Html.ActionLink("Inserção em Massa", "MassInsert")
</p>

@using (Html.BeginForm())
{
<div class="FilterDiv">
    Procurar por edição: @Html.DropDownList("edicao", ViewBag.Edicao as SelectList, "Escolha uma edição...", new { @class = "form-control" })
   &nbsp; Procurar por nome: &nbsp; @Html.TextBox("SearchString") &nbsp;
    <input type="submit" value="Procurar" class="btn btn-default" />
</div>
}

    <div class="TotalDiv">
        Total de Conhecimentos de Escola:  @ViewBag.TotalConhecimentosEscola
    </div>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink(HttpUtility.HtmlDecode(Html.DisplayNameFor(model => model.Nome).ToHtmlString()), "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            Edição
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Edicao)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Apagar", "Delete", new { id = item.ID })
        </td>
    </tr>
    }

</table>