@model IEnumerable<Candidaturas_BO.Models.EstatisticaCursoDisplay>

@{
    ViewBag.Title = "Estatistica por Distrito";

}

<h2>Estatística por Distrito</h2>


@using (Html.BeginForm())
{
    <div class="FilterDiv">
        Procurar por edição: @Html.DropDownList("edicao", ViewBag.Edicao as SelectList, "Escolha uma edição...", new { @class = "form-control" })
        &nbsp; Procurar por nome: &nbsp; @Html.TextBox("SearchString") &nbsp;
        Candidatura finalizada: &nbsp; @Html.CheckBox("finalizado", new { @class = "form-control", @style = "width: 12%" }) &nbsp;
        <input type="submit" value="Procurar" class="btn btn-default" />
    </div>
}

<div class="TotalDiv">
    Total de Candidatos: @ViewBag.TotalCandidatos
</div>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink(HttpUtility.HtmlDecode(Html.DisplayNameFor(model => model.Nome).ToHtmlString()), "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            Total
        </th>
        <th>
            @Html.ActionLink("Percentagem", "Index", new { sortOrder = ViewBag.PercSortParm })
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Percentagem)
            </td>
        </tr>
    }

</table>
<div class="form-actions no-color">
    @Html.ActionLink("Voltar", "Index", "Estatisticas")
</div>
@if (@ViewBag.TotalCandidatos > 0)
{
    <div id="chartContainerPer" style="height: 370px; width: 100%;"></div>
    <div id="chartContainerTot" style="height: 370px; width: 100%;"></div>

}
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script>
    window.onload = function () {

var chartPer = new CanvasJS.Chart("chartContainerPer", {
	theme: "light1", // "light1", "light2", "dark1", "dark2"
	exportEnabled: true,
	animationEnabled: true,
	title: {
		text: "Distribuição por Distrito"
	},
	subtitles: [{
		text: ""
    }],
    backgroundColor: "#f0f8ff",
	data: [{
		type: "pie",
		startAngle: 180,
		toolTipContent: "<b>{label}</b>: {y}%",
		showInLegend: "true",
		legendText: "{label}",
		indexLabel: "{label} - {y}%",
		dataPoints: @Html.Raw(ViewBag.DataPointsPer)
	}]
});

var chartTot = new CanvasJS.Chart("chartContainerTot", {
    exportEnabled: true,
	animationEnabled: true,
	theme: "light1", // "light1", "light2", "dark1", "dark2"
	title: {
        text: "Número candidatos por Distrito",
	},
	axisY: {
        title: "Nº de Candidatos",
    },
    axisX: {
        labelFontSize: 0
    },
    backgroundColor: "#f0f8ff",
	data: [{
        type: "bar",
        indexLabel: "{y}",
        dataPoints: @Html.Raw(ViewBag.DataPointsTot)
	}]
});
chartTot.render();
chartPer.render();

}
</script>