
@{
    ViewBag.Title = "Login";
}

<style>
    #login-div {
        position: absolute;
        left: 40%;
        top: 40%;
        padding: 10px 10px;
    }

    .field-validation-error {
        color: red;
    }
</style>
</head>
<body>
    <div id="login-div" class="form-group">
        @using (Html.BeginForm("Authorize", "Login", FormMethod.Post))
        {
        <table style="border-collapse: separate;border-spacing: 1em;">
            <br />
            <tr>
                <td>@Html.Label("Username", htmlAttributes: new { @class = "control-label col-md-2" })</td>
                <td>@Html.Editor("Username", new { htmlAttributes = new { @class = "form-control", @required = true, @name = "userName" } })</td>
            </tr>
            <tr>
                <td>@Html.Label("Password", htmlAttributes: new { @class = "control-label col-md-2" })</td>
                <td>@Html.Editor("Password", new { htmlAttributes = new { @class = "form-control", @required = true, @type = "password", @name = "password" } })</td>
            </tr>
            @if(ViewBag.ErrorMessage != null) { 
            <tr>
                <td colspan="2">
                    <label class="field-validation-error" style="padding-left: 49px;padding-top: 10px;padding-bottom: 10px;">@ViewBag.ErrorMessage</label>
                </td>
            </tr>
            }
            <tr>
                <td></td>
                <td>
                    <input type="submit" name="name" value="Login" class="btn btn-default" />
                </td>
            </tr>
        </table>
        }

    </div>
</body>
</html>