@model Candidaturas_BO.Models.Candidato

@{
    ViewBag.Title = "Details";
}
<head>
    <style>
        .column {
            float: left;
            width: 50%;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
    </style>
</head>
<h2>Detalhes</h2>
<h3>
    Candidato - @Html.DisplayFor(model => model.User.NomeCompleto)
</h3>

<div>
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.User.Militar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Militar)
        </dd>

        <dt>
            Data de Nascimento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.DataNascimento)
        </dd>

        <dt>
            E-Mail
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

        <dt>
            Data de Inscrição
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.DataCriacao)
        </dd>
    </dl>
    <hr />
    <h4>Dados Pessoais</h4>
    <dl class="dl-horizontal">
        <div class="row">
            <div class="column">
                <dt>
                    @Html.DisplayNameFor(model => model.DadosPessoais.Nomes)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DadosPessoais.Nomes)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DadosPessoais.Apelidos)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DadosPessoais.Apelidos)
                </dd>

                <dt>
                    Nome do Pai
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DadosPessoais.NomePai)
                </dd>

                <dt>
                    Nome da Mãe
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DadosPessoais.NomeMae)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DadosPessoais.Genero)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DadosPessoais.Genero)
                </dd>

                <dt>
                    Estado Civil
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DadosPessoais.EstadoCivil)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DadosPessoais.Telefone)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DadosPessoais.Telefone)
                </dd>

                <dt>
                    Tipo de Documento de Identificação
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DadosPessoais.TipoDocID)
                </dd>

                <dt>
                    Nº de Documento de Identificação
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DadosPessoais.NDI)
                </dd>

                <dt>
                    Dígitos de Controlo
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DadosPessoais.CCDigitosControlo)
                </dd>

                <dt>
                    Nº de Identificação Fiscal
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DadosPessoais.NIF)
                </dd>
            </div>
            <div class="column">
                <dt>
                    Repartição de Finanças do NIF
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DadosPessoais.RepFinNIF)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DadosPessoais.Nacionalidade)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DadosPessoais.Nacionalidade)
                </dd>

                <dt>
                    Distrito Natural
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DadosPessoais.DistritoNatural)
                </dd>

                <dt>
                    Concelho Natural
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DadosPessoais.ConcelhoNatural)
                </dd>

                <dt>
                    Freguesia Natural
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DadosPessoais.FreguesiaNatural)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DadosPessoais.Morada)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DadosPessoais.Morada)
                </dd>

                <dt>
                    Código Postal
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DadosPessoais.CodigoPostal4Dig) - @Html.DisplayFor(model => model.DadosPessoais.CodigoPostal3Dig)
                </dd>

                <dt>
                    Distrito Morada
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DadosPessoais.DistritoMorada)
                </dd>

                <dt>
                    Concelho Morada
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DadosPessoais.ConcelhoMorada)
                </dd>

                <dt>
                    Freguesia Morada
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DadosPessoais.FreguesiaMorada)
                </dd>
            </div>
        </div>
    </dl>
    <hr />
    <h4>Inquerito</h4>
    <dl class="dl-horizontal">
        <dt>
            Situação do Pai
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inquerito.SituacaoPai)
        </dd>

        <dt>
            Outro
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inquerito.OutraPai)
        </dd>

        <dt>
            Situação da Mãe
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inquerito.SituacaoMae)
        </dd>

        <dt>
            Outro
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inquerito.OutraMae)
        </dd>

        <dt>
            Como tomou conhecimento da escola?
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inquerito.ConhecimentoEscola)
        </dd>

        <dt>
            Outro
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inquerito.Outro)
        </dd>

        <dt>
            Candidatou-se a outras escolas?
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inquerito.CandidatarOutros)
        </dd>
    </dl>
    <hr />
    <h4>Exames</h4>
    <dl class="dl-horizontal">
        @foreach (var item in Model.UserExames)
        {
            <dt>
                @Html.DisplayFor(modelItem => item)
            </dt>
        }
    </dl>
    <br />
    <hr />
    <h4>Cursos</h4>
    <dl class="dl-horizontal">
        @foreach (var item in Model.UserCursos)
        {
            <dt>
                @Html.DisplayFor(modelItem => item.Prioridade).
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.Nome)
            </dd>
        }
    </dl>
</div>
