@model Candidaturas_BO.Models.CandidatoDTO

@{
    ViewBag.Title = "Details";
}
<head>
    <style>
        .column {
            float: left;
            width: 50%;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
    </style>
</head>
@Html.ActionLink("Regressar à Lista", "Index")
<h2>Detalhes</h2>
<h3>
    Candidato @Html.DisplayFor(model => model.candidato.Numero) - @Html.DisplayFor(model => model.user.dadosDTO.NomeColoquial)
</h3>

<div>
    <dl class="dl-horizontal">

        <dt>
            Data de Nascimento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.dadosDTO.DataNascimento)
        </dd>

        <dt>
            E-Mail
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.email)
        </dd>

        <dt>
            Data de Inscrição
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.dadosDTO.DataCriacao)
        </dd>
    </dl>
    <hr />
    <h4>Dados Pessoais</h4>
    <dl class="dl-horizontal">
        <div class="row">
            <div class="column">
                <dt>
                    @Html.DisplayNameFor(model => model.user.dadosDTO.Nomes)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.user.dadosDTO.Nomes)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.user.dadosDTO.Apelidos)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.user.dadosDTO.Apelidos)
                </dd>

                <dt>
                    Nome do Pai
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.user.dadosDTO.NomePai)
                </dd>

                <dt>
                    Nome da Mãe
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.user.dadosDTO.NomeMae)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.user.dadosDTO.Genero)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.user.dadosDTO.Genero)
                </dd>

                <dt>
                    Estado Civil
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.user.dadosDTO.EstadoCivil)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.user.dadosDTO.Telefone)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.user.dadosDTO.Telefone)
                </dd>

                <dt>
                    Tipo de Documento de Identificação
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.user.dadosDTO.TipoDocID)
                </dd>

                <dt>
                    Nº de Documento de Identificação
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.user.dadosDTO.NDI)
                </dd>

                <dt>
                    Dígitos de Controlo
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.user.dadosDTO.CCDigitosControlo)
                </dd>

                <dt>
                    Nº de Identificação Fiscal
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.user.dadosDTO.NIF)
                </dd>
            </div>
            <div class="column">
                <dt>
                    Repartição de Finanças do NIF
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.user.dadosDTO.RepFinNIF)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.user.dadosDTO.Nacionalidade)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.user.dadosDTO.Nacionalidade)
                </dd>

                <dt>
                    Distrito Natural
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.user.dadosDTO.DistritoNatural)
                </dd>

                <dt>
                    Concelho Natural
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.user.dadosDTO.ConcelhoNatural)
                </dd>

                <dt>
                    Freguesia Natural
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.user.dadosDTO.FreguesiaNatural)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.user.dadosDTO.Morada)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.user.dadosDTO.Morada)
                </dd>

                <dt>
                    Código Postal
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.user.dadosDTO.CodigoPostal4Dig) - @Html.DisplayFor(model => model.user.dadosDTO.CodigoPostal3Dig)
                </dd>

                <dt>
                    Distrito Morada
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.user.dadosDTO.DistritoMorada)
                </dd>

                <dt>
                    Concelho Morada
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.user.dadosDTO.ConcelhoMorada)
                </dd>

                <dt>
                    Freguesia Morada
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.user.dadosDTO.FreguesiaMorada)
                </dd>
            </div>
        </div>
    </dl>
    <hr />
    <h4>Inquerito</h4>
    <dl class="dl-horizontal">
        <dt>
            Situação do Pai
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.inqueritoDTO.SituacaoPai)
        </dd>

        <dt>
            Outro
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.inqueritoDTO.OutraPai)
        </dd>

        <dt>
            Situação da Mãe
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.inqueritoDTO.SituacaoMae)
        </dd>

        <dt>
            Outro
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.inqueritoDTO.OutraMae)
        </dd>

        <dt>
            Como tomou conhecimento da escola?
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.inqueritoDTO.ConhecimentoEscola)
        </dd>

        <dt>
            Outro
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.inqueritoDTO.Outro)
        </dd>

        <dt>
            Candidatou-se a outras escolas?
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.inqueritoDTO.CandidatarOutros)
        </dd>
    </dl>
    <hr />
    <h4>Exames</h4>
    <dl class="dl-horizontal">
        @foreach (var item in Model.user.examesDTO)
        {
            <dt>
                @Html.DisplayFor(modelItem => item.Codigo)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.Exame)
            </dd>
        }
    </dl>
    <br />
    <hr />
    <h4>Cursos</h4>
    <dl class="dl-horizontal">
        @foreach (var item in Model.user.cursosDTO)
        {
            <dt>
                @Html.DisplayFor(modelItem => item.Prioridade).
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.Nome)
            </dd>
        }
    </dl>
    <br />
    <hr />
    <h4>Documentos</h4>
    <dl class="dl-horizontal">
        @foreach (var item in Model.user.docsDTO)
        {
            <dt>
                Nome
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.Nome) <a class="fa fa-download badge badge-primary text-light p-2" onclick="location.href='@Url.Action("DownloadDocumento", "Users", new { id = (int)item.DocumentoBinario.DocID })'"><span> Download</span></a>
            </dd>

            <dt>
                Descrição
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.Descricao)
            </dd>
        }
    </dl>
    <br />
    <hr />
    <h4>Comprovativo de Candidatura</h4>
    <dl class="dl-horizontal">
        <dt>
            Data de Criação
        </dt>

        <dd>
            @Html.DisplayFor(model => model.form.DataCriação) <a class="fa fa-download badge badge-primary text-light p-2" onclick="location.href='@Url.Action("DownloadFormulario", "Candidatos", new { id = (int)Model.form.UserID })'"><span>Download</span></a>
        </dd>
    </dl>
    <br />
    <hr />
    @if ((bool)@ViewData["mil"])
    {
        <h4>Militar</h4>
        <dl class="dl-horizontal">
            <dt>
                Nº de Identificação Militar
            </dt>

            <dd>
                @Html.DisplayFor(model => model.user.dadosDTO.NIM)
            </dd>

            <dt>
                Ramo
            </dt>

            <dd>
                @Html.DisplayFor(model => model.user.dadosDTO.Ramo)
            </dd>

            <dt>
                Categoria
            </dt>

            <dd>
                @Html.DisplayFor(model => model.user.dadosDTO.Categoria)
            </dd>

            <dt>
                Posto
            </dt>

            <dd>
                @Html.DisplayFor(model => model.user.dadosDTO.Posto)
            </dd>

            <dt>
                Classe
            </dt>

            <dd>
                @Html.DisplayFor(model => model.user.dadosDTO.Classe)
            </dd>
        </dl>
    }
</div>
