@model PagedList.IPagedList<Candidaturas_BO.Models.CandidatoDisplay>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
                /**/

                /**/

                ViewBag.Title = "Candidatos";
}

<h2>Lista de Candidatos</h2>

@using (Html.BeginForm())
{
    <div style="display: flex;margin-top: 20px;">
        Procurar candidatos inscritos entre o seguinte intervalo: &nbsp;
        @Html.TextBox("startDate", null, new { @class = "form-control", type = "date", @style = "width: 12%", @value = "" })
        &nbsp; e &nbsp;
        @Html.TextBox("endDate", null, new { @class = "form-control", type = "date", @style = "width: 12%", @value = "" })
        &nbsp;
    </div>
    <div style="display: flex;margin-top: 20px;">
        Procurar candidato com nome: &nbsp;
        @Html.TextBox("searchString", null, new { @class = "form-control", type = "text", @style = "width: 12%", @value = "" })
        Procurar candidato com número: &nbsp;
        @Html.TextBox("numCand", null, new { @class = "form-control", type = "text", @style = "width: 12%", @value = "" })
        &nbsp;
        <input type="submit" value="Procurar" class="btn btn-default" />
    </div>
}

<div class="TotalDiv">
    Total de Candidatos: @ViewBag.TotalCandidatos
</div>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Número", "Index", new { sortOrder = ViewBag.NumSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Nome", "Index", new { sortOrder = ViewBag.NomeSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Email", "Index", new { sortOrder = ViewBag.EmailSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Data de Candidatura
        </th>
        <th>

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.numCand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dataCandidatura.Day)/@Html.DisplayFor(modelItem => item.dataCandidatura.Month)/@Html.DisplayFor(modelItem => item.dataCandidatura.Year)
            </td>
            <td>
                @Html.ActionLink("Detalhes", "Details", new { id = item.userId })
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))