@model IEnumerable<Candidaturas_BO.Models.CandidatoDTO>

@{
    ViewBag.Title = "Candidatos";
}

<h2>Lista de Candidatos</h2>

@using (Html.BeginForm())
{
<div style="display: flex;margin-top: 20px;">
    Procurar candidatos inscritos entre o seguinte intervalo: &nbsp;
    @Html.TextBox("startDate", null, new { @class = "form-control", type = "date", @style = "width: 12%", @value = "" })
    &nbsp; e &nbsp;
    @Html.TextBox("endDate", null, new { @class = "form-control", type = "date", @style = "width: 12%", @value = "" })
    &nbsp;
    Procurar user com email: &nbsp;
    @Html.TextBox("email", null, new { @class = "form-control", type = "text", @style = "width: 12%", @value = "" })
    &nbsp;
    <input type="submit" value="Procurar" class="btn btn-default" />
</div>
}

<div class="TotalDiv">
    Total de Candidatos: @ViewBag.TotalCandidatos
</div>

<table class="table">
    <tr>
        <th>
            Nome Completo
        </th>
        <th>
            Email
        </th>
        <th>
            Data de Nascimento
        </th>
        <th>
            Número de Candidato
        </th>
        <th>

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.user.dadosDTO.NomeColoquial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user.dadosDTO.DataNascimento.Day)/@Html.DisplayFor(modelItem => item.user.dadosDTO.DataNascimento.Month)/@Html.DisplayFor(modelItem => item.user.dadosDTO.DataNascimento.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.candidato.Numero)
            </td>
            <td>
                @Html.ActionLink("Detalhes", "Details", new { id = item.candidato.UserID})
            </td>
        </tr>
    }

</table>
