@model IEnumerable<Candidaturas_BO.Models.Reparticoes>

@{
    ViewBag.Title = "Repartições";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Criar Nova Repartição", "Create") | @Html.ActionLink("Inserção em Massa", "MassInsert")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Distrito.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reparticoes1.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reparticoes2.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Distrito.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reparticoes1.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reparticoes2.Nome)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
