@model IEnumerable<Candidaturas_BO.Models.CursoExame>

@{
    ViewBag.Title = "Curso/Exame";
}

<h2>Lista de ligações Curso/Exame</h2>
@if (ViewBag.UserAdmin)
{
    <p>
        @Html.ActionLink("Criar Nova Ligação Curso/Exame", "Create") | @Html.ActionLink("Inserção em Massa", "MassInsert")
    </p>
}
@using (Html.BeginForm())
{
    <div class="FilterDiv">
        Procurar por edição: &nbsp; @Html.DropDownList("edicao", ViewBag.Edicao as SelectList, "Escolha uma edição...", new { @id = "edicaoDrop", @class = "form-control" }) &nbsp;
        <input type="submit" value="Procurar" class="btn btn-default" />
    </div>
}

<div class="TotalDiv">
    Total de Cursos/Exames: @ViewBag.TotalCursosExames
</div>


<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Curso", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            Exame
        </th>
        <th>
            Obrigatório
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Edicao)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Curso.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Exame.Nome)
            </td>
            @if (item.Obrigatorio)
            {
                <td>
                    Sim
                </td>
            }
            else
            {
                <td>
                    Não
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Edicao)
            </td>
            @if (ViewBag.UserAdmin)
            {
                <td>
                    @Html.ActionLink("Delete", "Delete", new { CursoID = item.CursoID, ExameID = item.ExameID, Edicao = item.Edicao })
                </td>
            }
        </tr>
    }

</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        window.onload = edicaoDropChange();

        function edicaoDropChange() {
            var aux = "@ViewBag.EdicaoEscolhida";
            $("#edicaoDrop").val(aux);

        }
    </script>
}