@model IEnumerable<Candidaturas_BO.Models.Pais>

@{
    ViewBag.Title = "Países";
}

<h2>Lista de Países</h2>

<p class="BoParag">
    @Html.ActionLink("Criar Novo País", "Create") | @Html.ActionLink("Inserção em Massa", "MassInsert")
</p>

@using (Html.BeginForm())
{
    <div class="FilterDiv">
        Procurar por nome: @Html.TextBox("SearchString")
        <input type="submit" value="Procurar" class="btn btn-default" />
    </div>
}

<div class="TotalDiv">
    Total de Países: @ViewBag.TotalNacionalidades
</div>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Nome", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Sigla", "Index", new { sortOrder = ViewBag.SiglaSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sigla)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { sigla = item.Sigla }) |
            @Html.ActionLink("Apagar", "Delete", new { sigla = item.Sigla })
        </td>
    </tr>
    }

</table>
