@model IEnumerable<Candidaturas_BO.Models.EstatisticaCursoDisplay>

@{
    ViewBag.Title = "Estatistica por Género";

}

<h2>Estatística por Género</h2>


@using (Html.BeginForm())
{
<div class="FilterDiv">
    Procurar por edição: @Html.DropDownList("edicao", ViewBag.Edicao as SelectList, "Escolha uma edição...", new { @class = "form-control" })
    Procurar por nome: @Html.TextBox("SearchString")
    <input type="submit" value="Procurar" class="btn btn-default" />
</div>
}

    <div class="TotalDiv">
        Total de Candidatos: @ViewBag.TotalCandidatos
    </div>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink(HttpUtility.HtmlDecode(Html.DisplayNameFor(model => model.Nome).ToHtmlString()), "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            Total
        </th>
        <th>
            @Html.ActionLink("Percentagem", "Index", new { sortOrder = ViewBag.PercSortParm })
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Percentagem)
        </td>
    </tr>
    }

</table>
<div class="form-actions no-color">
    @Html.ActionLink("Voltar", "Index", "EstatisticasGenero");
</div>
