@model PagedList.IPagedList<Candidaturas_BO.Models.Concelho>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Concelhos";
}

<h2>Lista de Concelhos</h2>

@if (ViewBag.UserAdmin)
{
<p class="BoParag">
    @Html.ActionLink("Criar Novo Concelho", "Create") | @Html.ActionLink("Inserção em Massa", "MassInsert")
</p>
}


@using (Html.BeginForm())
{
    <div class="FilterDiv">
        Procurar por distrito: @Html.DropDownList("distrito", ViewBag.Distrito as SelectList, "Escolha um distrito...", new { @class = "form-control" })
    </div>
    <div class="FilterDiv">
       &nbsp; Procurar por nome: &nbsp; @Html.TextBox("SearchString") &nbsp;
        <input type="submit" value="Procurar" class="btn btn-default" />
    </div>
}

<div class="TotalDiv">
    Total de Concelhos: @ViewBag.TotalConcelhos
</div>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Nome", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Código", "Index", new { sortOrder = ViewBag.CodeSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Distrito - Cód.", "Index", new { sortOrder = ViewBag.DistritoSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.ActionLink(item.Nome, "Index", "Freguesias", new { concelho = item.Nome }, null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodigoDistrito)
        </td>
        @if (ViewBag.UserAdmin)
        {
            <td>
                @Html.ActionLink("Editar", "Edit", new { codigo = item.Codigo, codigoDistrito = item.CodigoDistrito }) |
                @Html.ActionLink("Apagar", "Delete", new { codigo = item.Codigo, codigoDistrito = item.CodigoDistrito })
            </td>
        }
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))