@model IEnumerable<Candidaturas_BO.Models.Concelho>

@{
    ViewBag.Title = "Concelhos";
}

<h2>Lista de Concelhos</h2>

<p class="BoParag">
    @Html.ActionLink("Criar Novo Concelho", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        Procurar por nome ou distrito: @Html.TextBox("SearchString")
        <input type="submit" value="Procurar" class="btn btn-default" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Distrito)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Distrito)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.ID }) |
                @Html.ActionLink("Apagar", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
