<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Candidaturas BO</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Candidaturas BO", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", @style = "font-size:21px;" })
                @if (Session["userName"] != null) { 
                    <a class="glyphicon glyphicon-log-out navbar-brand" style="padding-left: 880px;font-size: 17px;" href="@Url.Action("Logout", "Login")"><span style="font-family:Arial,Helvetica,sans-serif;padding-left: 5px;">Logout</span></a>
                }
            </div>
            @if (Session["userName"] != null)
            {
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        Tabelas<span class="glyphicon glyphicon-chevron-down"></span>
                        <ul>
                            <li>@Html.ActionLink("Distritos", "Index", "Distritos")</li>
                            <li>@Html.ActionLink("Concelhos", "Index", "Concelhos")</li>
                            <li>@Html.ActionLink("Freguesias", "Index", "Freguesias")</li>
                            <li>@Html.ActionLink("Localidades", "Index", "Localidades")</li>
                            <li>@Html.ActionLink("Países", "Index", "Nacionalidades")</li>
                            <li>@Html.ActionLink("Cursos", "Index", "Cursos")</li>
                            <li>@Html.ActionLink("Exames", "Index", "Exames")</li>
                            <li>@Html.ActionLink("Estados Civis", "Index", "EstadosCivis")</li>
                            <li>@Html.ActionLink("Generos", "Index", "Generos")</li>
                            <li>@Html.ActionLink("Tipos de Documento ID", "Index", "TiposDocumentoID")</li>
                            <li>@Html.ActionLink("Situações", "Index", "Situacaos")</li>
                            <li>@Html.ActionLink("Conhecimentos", "Index", "ConhecimentoEscolas")</li>
                        </ul>
                    </li>
                    <li></li>
                    <li>
                        Outros<span class="glyphicon glyphicon-chevron-down"></span>
                        <ul>
                            <li>@Html.ActionLink("Candidatos", "Index", "Candidatos")</li>
                        </ul>
                    </li>
                </ul>
            </div>
            }            
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
<style>
    ul.nav > li {
        list-style: none;
        float: left;
        position: relative;
        height: 24px; /* height included for IE 7 */
        margin-left: 10px;
        color: #9d9d9d;
    }

    ul.nav ul {
        left: -10000px;
        position: absolute;
    }

    ul.nav > li:hover ul {
        left: 0;
        top: 24px; /* IE7 has problems without this */
        background-color: #000787;
    }

    ul.nav ul > li a {
        color: #9d9d9d;
    }

    ul.nav ul > li {
        position: relative;
        right: 15px;
    }

    ul.nav > li span {
        font-size: 11px;
        margin-left: 5px;
    }

    ul {
        list-style: initial;
    }
</style>