<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Candidaturas BO</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header" style="width:100%">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/Content/img/marinha.png" alt="Logo Marinha" style="float:left;margin-bottom=5px" />
                @Html.ActionLink("Portal de Candidaturas - Back Office", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", @style = "color:#000" })
                @if (Session["userName"] != null)
                {
                    <a class="glyphicon glyphicon-log-out navbar-brand" style="float:right;font-size: 17px;" href="@Url.Action("Logout", "Login")"><span style="color:#000000;font-family:Arial,Helvetica,sans-serif;padding-left: 5px;">Logout</span></a>
                    /**/

                }


            </div>
            @if (Session["userName"] != null)
            {
            <div style="display: inline-flex;">
                @Html.ActionLink("Edições", "Index", "Edicaos", null, new { Style = "color:black;" })
                &nbsp; &nbsp; @Html.ActionLink("Candidatos", "Index", "Users", null, new { Style = "color:black;" })
                &nbsp; &nbsp; @Html.ActionLink("Cursos/Exames", "Index", "CursoExames", null, new { Style = "color:black;" })
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            Estatisticas<span class="glyphicon glyphicon-chevron-down"></span>
                            <ul>
                                <li>@Html.ActionLink("Concelho", "Index", "EstatisticasConcelho")</li>
                                <li>@Html.ActionLink("Curso", "Index", "EstatisticasCurso")</li>
                                <li>@Html.ActionLink("Dia", "Index", "EstatisticasDia")</li>
                                <li>@Html.ActionLink("Distrito", "Index", "EstatisticasDistrito")</li>
                                <li>@Html.ActionLink("Género", "Index", "EstatisticasGenero")</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            Dados Permanentes<span class="glyphicon glyphicon-chevron-down"></span>
                            <ul>
                                <li>@Html.ActionLink("Categorias", "Index", "Categorias")</li>
                                <li>@Html.ActionLink("Concelhos", "Index", "Concelhos")</li>
                                <li>@Html.ActionLink("Distritos", "Index", "Distritos")</li>
                                <li>@Html.ActionLink("Estados Civis", "Index", "EstadosCivis")</li>
                                <li>@Html.ActionLink("Freguesias", "Index", "Freguesias")</li>
                                <li>@Html.ActionLink("Géneros", "Index", "Generos")</li>
                                <li>@Html.ActionLink("Localidades", "Index", "Localidades")</li>
                                <li>@Html.ActionLink("Países", "Index", "Nacionalidades")</li>
                                <li>@Html.ActionLink("Postos", "Index", "Postos")</li>
                                <li>@Html.ActionLink("Ramos", "Index", "Ramos")</li>
                                <li>@Html.ActionLink("Repartições", "Index", "Reparticoes")</li>
                                <li>@Html.ActionLink("Tipos de Documento", "Index", "TiposDocumentoID")</li>

                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            Dados por Edição<span class="glyphicon glyphicon-chevron-down"></span>
                                            <ul>
                                                <li>@Html.ActionLink("Conhecimentos", "Index", "ConhecimentoEscolas")</li>
                                                <li>@Html.ActionLink("Cursos", "Index", "Cursos")</li>
                                                <li>@Html.ActionLink("Documentos", "Index", "DocumentosNecessarios")</li>
                                                <li>@Html.ActionLink("Exames", "Index", "Exames")</li>
                                                <li>@Html.ActionLink("Histórico", "Index", "Historicoes")</li>
                                                <li>@Html.ActionLink("Situações", "Index", "Situacaos")</li>
                                            </ul>
                        </li>
                    </ul>
                </div>
            </div>


            }
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
<style>
    ul.nav > li {
        list-style: none;
        float: left;
        position: relative;
        height: 24px; /* height included for IE 7 */
        margin-left: 10px;
        color: #000000;
    }

    ul.nav ul {
        left: -10000px;
        position: absolute;
    }

    ul.nav > li:hover ul {
        left: 0;
        top: 24px; /* IE7 has problems without this */
        background-color: #b5ddff;
    }

    ul.nav ul > li a {
        color: #000000;
    }

    ul.nav ul > li {
        position: relative;
        right: 15px;
    }

    ul.nav > li span {
        font-size: 11px;
        margin-left: 5px;
    }

    ul {
        list-style: initial;
    }
</style>