
@{
                /**/

                ViewBag.Title = "Estatisticas ";

}

<h2>Estatísticas</h2>


<p>@Html.ActionLink("Estatística por Curso", "Index", "EstatisticasCurso")</p>
<p>@Html.ActionLink("Estatística por Concelho", "Index", "EstatisticasConcelho")</p>
<p>@Html.ActionLink("Estatística por Dia", "Index", "EstatisticasDia")</p>
<p>@Html.ActionLink("Estatística por Distrito", "Index", "EstatisticasDistrito")</p>
<p>@Html.ActionLink("Estatística por Género", "Index", "EstatisticasGenero")</p>


