@model Candidaturas_BO.Models.DocumentosNecessarios

@{
    ViewBag.Title = "Criar Documento Necessário";
}

<h2>Criar</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Documentos Necessarios</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Documento, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Documento, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Documento, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Edicao, "Edição", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Edicao, ViewBag.Edicao as SelectList, "Escolha uma opção...", new { @id = "EdicaoSelect", @class = "form-control", @required = "required" })
                @Html.ValidationMessageFor(model => model.Edicao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Criar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regressar à Lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
         window.onload = updateEdicao();

    function updateEdicao() {
       var aux = "@ViewBag.EdicaoEscolhida";
        $("#EdicaoSelect").val(aux);
    }
    </script>
}
