@model IEnumerable<Candidaturas_BO.Models.DocumentosNecessarios>

@{
    /**/

    ViewBag.Title = "Documentos Necessários";
}

<h2>Lista de Documentos Necessários</h2>
@if (ViewBag.UserAdmin)
{
    <p class="BoParag">
        @Html.ActionLink("Criar Novo Documento Necessário", "Create") | @Html.ActionLink("Inserção em Massa", "MassInsert")
    </p>
}
@using (Html.BeginForm())
{
    <div class="FilterDiv">
        Procurar por edição: @Html.DropDownList("edicao", ViewBag.Edicao as SelectList, "Escolha uma edição...", new { @id = "edicaoDrop", @class = "form-control", @style = "marhin-right:5px" })
        Procurar por nome: @Html.TextBox("SearchString", null, new { @style = "margin-right: 5px" })
        <input type="submit" value="Procurar" class="btn btn-default" />
    </div>
}

<div class="TotalDiv">
    Total de Documentos Necessários: @ViewBag.TotalDocumentos
</div>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink(HttpUtility.HtmlDecode(Html.DisplayNameFor(model => model.Documento).ToHtmlString()), "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            Edição
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Documento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edicao)
            </td>
            @if (ViewBag.UserAdmin)
            {
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Apagar", "Delete", new { id = item.ID })
                </td>
            }
        </tr>
    }

</table>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        window.onload = edicaoDropChange();

        function edicaoDropChange() {
            var aux = "@ViewBag.EdicaoEscolhida";
            $("#edicaoDrop").val(aux);

        }
    </script>
}
