@model IEnumerable<Candidaturas_BO.Models.Edicao>

@{
    ViewBag.Title = "Edições";
}

<h2>Lista de Edições</h2>
@if (ViewBag.UserAdmin)
{
    <p>
        @Html.ActionLink("Criar Nova Edição", "Create") | @Html.ActionLink("Inserção em Massa", "MassInsert")
    </p>
}
    @using (Html.BeginForm())
    {
    <div class="FilterDiv">
        Procurar por nome: @Html.TextBox("SearchString", null, new { @style = "margin-right: 5px" })
        <input type="submit" value="Procurar" class="btn btn-default" />
    </div>
    }

    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("Sigla", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnoLectivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFim)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sigla)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnoLectivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFim)
            </td>
            @if (ViewBag.UserAdmin)
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Sigla }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Sigla })
                </td>
            }
        </tr>
        }

    </table>
