@model IEnumerable<Candidaturas_BO.Models.TipoDocumentoID>

@{
    ViewBag.Title = "Tipos de Documento de Identificação";
}

<h2>Lista de Tipos de Documento de Identificação</h2>
@if (ViewBag.UserAdmin)
{
<p class="BoParag">
    @Html.ActionLink("Criar Novo Tipo de Documento de Identificação", "Create") | @Html.ActionLink("Inserção em Massa", "MassInsert")
</p>
}
@using (Html.BeginForm())
{
    <div class="FilterDiv">
        Procurar por nome: @Html.TextBox("SearchString", null, new { @style = "margin-right: 5px" }) 
        <input type="submit" value="Procurar" class="btn btn-default" />
    </div>
}

    <div class="TotalDiv">
        Total de Tipos de Documento de Identificação: @ViewBag.TotalTiposDocID
    </div>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink(HttpUtility.HtmlDecode(Html.DisplayNameFor(model => model.Nome).ToHtmlString()), "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        @if (ViewBag.UserAdmin)
        {
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Apagar", "Delete", new { id = item.ID })
            </td>
        }
    </tr>
    }

</table>
