@model IEnumerable<Candidaturas_BO.Models.Historico>

@{
                /**/

                ViewBag.Title = "Histórico";
}

<h2>Histórico</h2>

@using (Html.BeginForm())
{
    <div class="FilterDiv" style="display: flex;margin-top: 20px;">

        Procurar por edição:
        @Html.DropDownList("edicao", ViewBag.Edicao as SelectList, "Escolha uma edição...", new { @id = "edicaoDrop", @class = "form-control", @style = "margin-right:5px" })
        Procurar users inscritos entre o seguinte intervalo:
        @Html.TextBox("startDate", null, new { @class = "form-control", type = "date", @style = "width: 12%; margin-right:5px", @value = "" })
        e
        @Html.TextBox("endDate", null, new { @class = "form-control", type = "date", @style = "width: 12%; margin-left:5px; margin-right:5px", @value = "" })
        Procurar user com email:
        @Html.TextBox("searchString", null, new { @class = "form-control", type = "text", @style = "width: 12%; margin-right:5px", @value = "" })
        <input type="submit" value="Procurar" class="btn btn-default" />
    </div>
}

<div class="TotalDiv">
    Total de Históricos: @ViewBag.TotalHistoricos
</div>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Email", "Index", new { sortOrder = ViewBag.EmailSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Mensagem
        </th>
        <th>
            Data
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Candidatura.User.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mensagem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.timestamp)
            </td>
        </tr>
    }

</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        window.onload = edicaoDropChange();

        function edicaoDropChange() {
            var aux = "@ViewBag.EdicaoEscolhida";
            $("#edicaoDrop").val(aux);

        }
    </script>
}